.title {
  width: 1350px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 30px;
  margin-bottom: 15px;
  border-bottom: 1px solid black;
}
.button__add {
  width: 150px;
  border-radius: 15px;
  background: rgb(134, 210, 1);
  height: 40px;
  cursor: pointer;
  color: #fff;
  border: 0.5px solid white;
}
.button__prev {
  width: 150px;
  border-radius: 15px;
  background: rgb(104, 104, 239);
  height: 40px;
  cursor: pointer;
  color: #fff;
  border: 0.5px solid white;
}
